name: Dependency Update

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write
      pull-requests: write
    uses: SarradaHub/platform/.github/workflows/dependency-update.yaml@main
    with:
      node-version: '20'
      working-directory: .
